<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Josue Cespedes
         It uses mapbok.com data and darkSky API.
        </p>
        <img class="portrait" src="/images/r1.png">
    </div>
    {{>footer}}
</body>
</html>